body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c0392b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #c0392b;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c0392b;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #c0392b;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a93226;
}
