body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.logoContainer{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 5px;

}


h1 {
    text-align: center;
    color: #c0392b;
}

h2 {
    text-align: center;
    color: #c0392b;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #c0392b;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #c0392b;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a93226;
}

#ordine {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}